<books-search-form placeholder="Поиск книг по автору и названию" [query]="searchQueryString"></books-search-form>

@let books = books$ | async;

<mat-list>
    @for (book of books; track book.id) {
        <mat-list-item class="mb-4 pl-0">
            <p matListItemTitle>
                Название:
                <a [routerLink]="['book', book.id]">{{ book.name }}</a>
            </p>
            <p matListItemLine>Автор: {{ book.author }}</p>
            <p matListItemLine>Год: {{ book.year }}</p>
        </mat-list-item>
    } @empty {
        @if (!isLoading()) {
            <h1>По данному запросу ничего не найдено</h1>
        }
    }
</mat-list>
