html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        background: #fff;
    }

    body {
        color: #1a1b1f;
    }
}
